//app.css
.manager-container {
  font-family: 'Segoe UI', sans-serif;
 padding:60;
  background-color:white;
}

.header {
  font-size: 32px;
  color: #04419a;
  margin-bottom: 20px;
  text-align: center;
}

.section {
  background: white;
  padding: 20px;
  margin-top: 25px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.project-form input,
.team-form input,
.team-form select {
  padding: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 200px;
}

.project-form button,
.team-form button {
  padding: 10px 16px;
  background-color: #04419a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.project-form button:hover,
.team-form button:hover {
  background-color: #022e6c;
}

.project-card {
  background-color: #eef3fc;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.project-card:hover {
  background-color: #dbe8fd;
}

.team-list {
  margin-top: 10px;
}
